.profile__button-edit {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 0 0 26px 18px;

  transition: opacity .3s ease-out;

  border: 1px solid #fff;
  background-color: transparent;
  background-image: url(../../../images/icon-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button-edit:hover {
  cursor: pointer;

  opacity: .6;
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    align-self: flex-start;

    margin: 5px 0 0 8px;
  }
}
