.profile__subtitle {
  overflow: hidden;

  max-width: 590px;
  margin: 8px 0 0;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 320px) {
  .profile__subtitle {
    margin-top: 8px;

    font-size: 14px;
    line-height: 1.2;
  }
}
