.footer__copyright {
  margin: 68px 0 60px 4px;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    margin-left: 19px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin: 49px 0 33px 19px;
    font-size: 14px;
  }
}
