.profile__avatar-container {
  position: relative;
}

.profile__avatar-container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: opacity .2s ease-out;
  opacity: 0;
  background-color: #000;
  background-image: url(../../../images/icon-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

.profile__avatar-container:hover::after {
  cursor: pointer;
  opacity: .8;
}
