.card__button-like {
  min-width: 20px;
  height: 18px;

  transition: opacity .3s ease-out;

  border: 0;
  background-color: transparent;
  background-image: url(../../../images/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card__button-like:hover {
  cursor: pointer;

  opacity: .5;
}

.card__button-like:active {
  opacity: 1;
  background-image: url(../../../images/icon-like-active.svg);
}
