.profile__text-container {
  max-width: 490px;
  margin-left: 32px;
}

@media screen and (max-width: 900px) {
  .profile__text-container {
    max-width: calc(100vw - 436px);
  }
}

@media screen and (max-width: 768px) {
  .profile__text-container {
    max-width: calc(100vw - 250px);
  }
}

@media screen and (max-width: 600px) {
  .profile__text-container {
    max-width: calc(100vw - 120px);
  }
}

@media screen and (max-width: 425px) {
  .profile__text-container {
    margin-left: 22px;
  }
}
