.profile__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 888px;
  margin: 40px auto 0;
}

@media screen and (max-width: 600px) {
  .profile__wrapper {
    flex-direction: column;

    margin-top: 42px;
  }
}
