.profile__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 880px;
  min-height: 210px;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .profile__wrapper {
    flex-direction: column;

    min-height: 286px;
    margin-top: 42px;
  }
}
