.profile__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 888px;
  min-height: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .profile__wrapper {
    flex-direction: column;

    margin-top: 42px;
  }
}

@media screen and (max-width: 425px) {
  .profile__wrapper {
    flex-direction: column;

    min-height: 286px;
  }
}
