.profile__button-add {
  width: 150px;
  min-width: 50px;
  min-height: 50px;
  margin-left: 40px;

  transition: opacity .3s ease-out;

  border: 2px solid #fff;
  background-color: transparent;
  background-image: url(../../../images/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button-add:hover {
  cursor: pointer;

  opacity: .6;
}

@media screen and (max-width: 600px) {
  .profile__button-add {
    margin: 33px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__button-add {
    width: 100%;

    background-size: 6%;
  }
}
