@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info-container/rofile__info-container.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__wrapper/cards__wrapper.css);
@import url(../blocks/cards/__grid/cards__grid.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__figure/card__figure.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__body/card__body.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__button-like/card__button-like.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__wrapper/footer__wrapper.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

.footer__wrapper {
  display: flex;
  align-items: center;

  max-width: 880px;
  min-height: 144px;
  margin: 0 auto;
}

.footer__copyright {
  color: #545454;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
