.cards__grid {
  display: grid;
  justify-content: center;

  margin: 10px auto;
  padding-left: 0;

  list-style: none;

  grid-template-columns: repeat(3, 282px);
  grid-auto-rows: 1fr;
  gap: 17px;
}

@media screen and (max-width: 900px) {
  .cards__grid {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 600px) {
  .cards__grid {
    margin-top: 36px;

    grid-template-columns: 282px;
    gap: 18px;
  }
}
