.header__wrapper {
  max-width: 872px;
  /* min-height: 118px; */
  margin: 0 auto;

  border-bottom: .5px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 425px) {
  .header__wrapper {
    width: 100%;
    /* min-height: 83px; */
  }
}
